*{
    margin: 0;
    padding: 0;
}
body {
    background: linear-gradient(to rigth, black, red); 
    font-family: 'Lato', sans-serif;
    

}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  color: #333333; 
}

.cbc {
    background-color: #0d3b66; 
    padding: 10px 20px;
    position: relative;
    height: 120px;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
   z-index: 1;
    margin: 10px;
}

.logo {
    height: 100px;
    width:  100px;
    margin-left: 50px;
    border-radius: 20px;
    margin-top: 10px;
     box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.422);

}

.logo:hover {
    height: 100px;
    width:  100px;
    margin-left: 50px;
    border-radius: 20px;
    margin-top: 10px;
     box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.422);

}

.links {
    display: flex;
    gap: 10px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 20px;
    margin-right: 20px;
}

.link1 {
    background-color: #f25c05;
    text-decoration: none;
    color: white;               
    padding: 10px 15px;
    border-radius: 10px;
    transition: background-color 0.4s ease, color 0.4s ease;
    
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.422);
}

.link1:hover {
    background-color: #ffb74d; 
    color: #0d3b66; 
    
box-shadow:  10px 10px 10px 10px rgba(0, 0, 0, 0.304);
}